
body {
    background: #fff;
    text-align: center;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    color:#f2f2f2;
}

h1 { font-size: 3em; }
h2 { font-size: 2.2em; }
h3 { font-size: 2em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }

p {
    margin:0.3em 0 0.5em;
    font-size: 20px;
    font-weight: 400;
}

img {
    vertical-align: bottom;
    max-width: 100%;
}

.container {
    margin:0 auto;
    padding: 0;
    max-width: 1200px;
}
.container:after {
    content: "";
    display: table;
    clear: both;
}