/* ----- Slider ----- */

.slider {
    margin: 0 auto;
    background: #f8f8f8 url(../img/pattern.jpg) left top repeat;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05) inset,
        0 -5px 15px 0 rgba(0,0,0,.05) inset;
}

.flexslider {
    margin-top: 15px;
    margin-bottom: 55px;
    border: 6px solid #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 -5px 15px 0 rgba(0,0,0,.05);
    -webkit-box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 -5px 15px 0 rgba(0,0,0,.05);
    box-shadow:
        0 5px 15px 0 rgba(0,0,0,.05),
        0 -5px 15px 0 rgba(0,0,0,.05);
}

.flex-caption {
    position: absolute;
    bottom: 20px;
    max-width: 920px;
    padding: 10px 20px;
    margin: 0;
    background: #1d1d1d; /* browsers that don't support rgba */
    background: rgba(0, 0, 0, .7);
    font-size: 14px;
    line-height: 24px;
    color: #eaeaea;
    text-align: left;
    font-style: italic;
}
